
.button, button:not(.fancybox-button) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-width: 20rem;
  padding: 1rem;
  border-radius: 3rem;
  background: #006743;
  border: 1px solid #006743;
  font-family: "Inter", serif;
  color: #FFF;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 1.8rem;
    height: 1.8rem;
  }

  &:hover {
    background: #fff;
    color: #006743;
    svg{
      path{
        fill: #006743;
      }
    }
  }
}