.modal-window{
  position: relative;
  display: none;
  padding: 4rem;
  width: 100%;
  max-width: 83rem;
  flex-shrink: 0;
  border-radius: 4rem;
  background: #FFF;
  color: #000;
  @media (max-width: 767px){
    padding: 4rem 2rem;
    border-radius: 2rem;
  }
  &>*:not(:last-child){
    margin-bottom: 2rem;
  }
  &__text{
    color: #000;
  }
  &__subtitle{
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    @media (max-width: 767px){
      font-size: 2.2rem;
    }
  }
  &__title{
    margin-bottom: 2rem;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    @media (max-width: 767px){
      font-size: 3rem;
    }
  }

}

.modal-window .fancybox-slide--html .fancybox-close-small{
  top: 2rem;
  right: 2rem;
  @media (max-width: 767px){
    top: 0.5rem;
    right: 0.5rem;
  }
}