.about{
  &-row{
    display: flex;
    @media (max-width: 900px){
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &-content{
    width: 100%;
    max-width: 72rem;
    @media (max-width: 900px){
      max-width: 100%;
    }
  }
  &__tag{
    margin-bottom: 2rem;
  }
  &__text{

  }
  &__title{
    margin-bottom: 3.5rem;
    color: #000;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    @media (max-width: 1440px){
      margin-bottom: 2rem;
      font-size: 3.4rem;
    }
  }
  &__image{
    margin-right: 8rem;
    width: 76.9rem;
    height: 48rem;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 2rem;
    overflow: hidden;
    &--low{
      height: 40rem;
    }
    @media (max-width: 1440px){
      margin-right: 4rem;
    }
    @media (max-width: 1024px){
      width: 50%;
    }
    @media (max-width: 900px){
      width: 100%;
      max-width: 76.9rem;
      margin-right: 0;
      margin-top: 2rem;
      height: 40rem;
    }
    @media (max-width: 550px){
      height: 30rem;
    }
  }
  &-list{
    display: flex;
    padding: 3rem 0;
    text-align: center;
    @media (max-width: 500px){
      padding: 1rem 0;
    }

    @media (max-width: 900px){
      flex-wrap: wrap;
    }
    &-item{
      width: 25%;
      padding: 0 4rem;
      @media (max-width: 1024px){
        padding: 0 1rem;
      }
      @media (max-width: 900px){
        padding: 1rem;
        width: 50%;

      }
      @media (max-width: 500px){
        width: 100%;
        padding: 1.4rem 0;
      }
      &__title{
        margin-bottom: 2rem;
        color: #006743;
        font-size: 2.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        @media (max-width: 1440px){
          font-size: 2.2rem;
          margin-bottom: 1rem;
        }
        @media (max-width: 1024px){
          font-size: 2rem;
        }
        strong{
          font-size: 6.4rem;
          @media (max-width: 1440px){
            font-size: 4.6rem;
          }
          @media (max-width: 1024px){
            font-size: 3.6rem;
          }
        }
      }
      &:not(:last-child){
        border-right:1px solid  rgba(0, 103, 67, 0.50);
        @media (max-width: 900px){
          border-right: none;
        }
        @media (max-width: 500px){
          border-bottom: 1px solid  rgba(0, 103, 67, 0.50);
        }
      }
    }
    &-wrapper{
      margin-top: 8rem;
      @media (max-width: 1440px){
        margin-top: 4rem;
      }
    }
  }
  &__video{
    margin-right: 8rem;
    width: 100%;
    max-width: 76.9rem;
    height: 43.6rem;
    @media (max-width: 1024px){
      margin-right: 3rem;
    }
    @media (max-width: 900px){
      margin-right: 0;
      margin-top: 3rem;
    }
    @media (max-width:500px){
      height: auto;
    }

  }
  &-history{
    display: flex;
    gap: 1rem;
    &-controls{
      margin-top: 4.5rem;
      @media (max-width: 450px){
        margin-top: 2rem;
      }
    }
    &-item{
      width: 54rem;
      padding: 4rem;
      min-height: 36rem;
      border-radius: 2rem;
      background: #F2F7F6;
      @media (max-width: 1900px){
        padding: 2rem;
      }
      @media (max-width: 1024px){
        min-height: 30rem;
      }
      @media (max-width: 900px){
        min-height: 34rem;
      }
      @media (max-width: 768px){
        min-height: 30rem;
      }
      @media (max-width: 600px){
        min-height: 26rem;
        padding: 2rem 1rem;
      }
      &__text{

      }
      &__title{
        margin-bottom: 1.6rem;
        color: #006743;
        font-size: 6.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        @media (max-width: 1440px){
          font-size: 5.4rem;
          margin-bottom: 1rem;
        }
        @media (max-width: 1300px){
          font-size: 4rem;
          line-height: 120%;
        }
      }
      &__subtitle{
        margin-bottom: 0.8rem;
        color: #000;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
      }
    }
    &-wrapper{
      margin-top: 8rem;
      @media (max-width: 450px){
        margin-top: 4rem;
      }
    }

  }
}

.slick-slide {
  .about-history-item{
    margin: auto;
    width: calc(100% - 1.6rem);
    @media (max-width: 1900px){
      width: calc(100% - 1rem);
    }
  }
}