.reviews{
  &__title{
    margin-bottom: 5rem;
  }
  &-slider{
    display: flex;
    gap: 1rem;
    &-item{
      display: flex;
      flex-direction: column;
      margin-top: 6rem;
      position: relative;
      padding: 4rem;
      padding-top: 7rem;
      width: 73rem;
      min-height: 42rem;
      flex-shrink: 0;
      border-radius: 2rem;
      background: #F5F5F5;
      @media (max-width: 1024px){
        min-height: 34rem;
      }
      @media (max-width: 600px){
        padding: 2rem;
        padding-top: 7rem;
      }
      &__text{
        padding-bottom: 2rem;
      }
      &__rating{
        margin-left: auto;
        justify-content: space-between;
        width: 17rem;
        flex-grow: 0;
        flex-shrink: 0;
        @media (max-width: 600px){
          width: 15rem;
        }
        @media (max-width: 450px){
          margin-bottom: 1rem;
          margin-left: 0;
        }
      }
      &__name{
        margin-right: 2rem;
        color: rgba(#000, 0.5);
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        strong{
          margin-bottom: 0.5rem;
          display: block;
          width: 100%;
          color: #000;
          font-size: 2.4rem;
          font-style: normal;
          font-weight: 500;
          @media (max-width: 600px){
            font-size: 1.8rem;
          }
        }
      }
      &-footer{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: auto;
        padding-top: 1.5rem;border-top: 1px solid rgba(0, 0, 0, 0.20);
        @media (max-width: 450px){
          flex-direction: column-reverse;
        }
      }
      &__avatar{
        position: absolute;
        top: -6.5rem;
        left: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12rem;
        height: 12rem;
        flex-shrink: 0;
        border-radius: 50%;
        overflow: hidden;
        border: 1rem solid #FFF;
      }
    }
    &-controls{
      margin-top: 6rem;
      @media (max-width: 450px){
        margin-top: 1rem;
      }
    }
  }
}

.slick-slide {
  .reviews-slider-item{
    margin: 6rem auto 0 auto;
    width: calc(100% - 1.6rem);
    @media (max-width: 1900px){
      width: calc(100% - 1rem);
    }
  }
}